<a href="https://colab.research.google.com/github/dhvanig18/desktop-tutorial/blob/master/code2%20datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

assigning elements to different lists

In [1]:
num1 = [1,2,3,4]
num2 = [10,20,30,40]
num1.append(44)
num2.extend([100,80])
print("num1 = ",num1)
print("num2",num2)

num1 =  [1, 2, 3, 4, 44]
num2 [10, 20, 30, 40, 100, 80]

accessing elements from a tuple

In [2]:
tuple = ['t','u','p','l','e']
print(tuple[3])
print(tuple[1:4])
print(tuple[-5])

l
['u', 'p', 'l']
t

deleting different dictionary elements

In [13]:
dict = {1:'a',2:'b',3:'c',4:'d'}
del dict[4] 
print(dict)
dict.pop(3)
print(dict)

{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b'}